.post {
  margin-bottom: 20px;
  padding: 10px;
  background: #facc15;
  color: ;
  border-radius: 10px;
}

.post button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background: #0f172a;
  color: #facc15;
  border-radius: 5px;
  cursor: pointer;
}

.post button:hover {
  background: #fbbf24;
  color: #0f172a;
}



#head1{
  postion:fixed;
  border: solid,10px,blue;
  border-radius: 39px;
  background-color: black;
  border-top-color: wheat;
  border-bottom-color: wheat;
  border-block-start-color: wheat;
  border-inline-start: red;
  border-inline-end: red;
  box-shadow: 0 4px 120x rgba(0,0,0,0.4);
  font-size: 49px;
  margin-bottom: 20px;
  text-align: center;
  
}
.box {
  border: 10px solid red;
  border-inline-end: red;
  border-inline-start: gold;
  border-bottom-color: wheat;
  border-top-color: black;
  width:  515px;
  height: 30px;
  padding: 20px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.7);
  margin-bottom: 100px;
}

h1 {
  
  color: dimgrey;
  font-size: 60px;
  
  
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: blue;
  text-align: right;
  margin: 28px;
}

h1{
    color:gold;
    font-size: 60px;
    text-align: center;
  }

.navbar {
    position: absolute;       
    text-combine-upright: : 20px;          
    left : 45px; 
    top: 220px;    
    display: flex;
    flex-direction: horizontal; 
    gap: 20px;              
}


.navbar button {
  text-decoration: none;
    position: relative;
    padding: 15px 15px;
    font: monospace;
    font-size: 30px;
    color: dimgrey;
    background: wheat;
    border: solid;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s;
}

.navbar button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
}

.navbar button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.navbar button:hover {
  text-decoration: none;
    background: black;
  font-size: 40px;
    border-color: red;
}
 #trends-container{
   background-color: red;
 }